@font-face {
  font-family: Font;
  src: url("Edu_NSW_ACT_Foundation/static/EduNSWACTFoundation-Bold.ttf");
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.middle{
  margin-top: 200%;
}

html, body {
  margin-top: 125px;
  margin-bottom: 125px;
  height: 100%;
  width: 100%;
  background-color: #151d21;
  background-size: 100%;

}
h1{
  color: #ffffff;
  text-align: center;
  font-family: Font;
  font-size: 200%;
  margin-bottom: 20px;
  margin-top: 20px;

}
h2{
  color: #ffffff;
  text-align: center;
  font-family: Font;
  font-size: 175%;
}

img{
  float:right;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50%;
  width: 50%;
  
}
a {
  background-color:#ff7a7a;
  border: none;
  color: #151D21;
  padding: 15px 32px;
  text-align: center;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10px;
  border-radius: 5px;
}

p{
  font-size: 150%;
  color: #ffffff;
  text-align: center;
  font-family: Font;
  animation-duration: 3s;
  animation-name: slidein;
  
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }



